.search-container {
  display: flex;
  align-items: center;
}

.total-card {
  border: 10px solid #fff;
  border-radius: 2px;
  text-align: center;
  padding: 10px;
  font-family: "Bebas Neue", cursive;
}
.total-number {
  font-size: 150px;
}
.total-number-subheading {
  font-size: 40px;
}

.search-card {
  margin-left: 40px;
  width: 50vw;
}
.search-card-heading {
  font-size: 50px;
  font-weight: bold;
}
.search-card-subheading {
  margin: 10px 0px;
}
.search-card-input {
  width: 100%;
  border: 1px solid grey;
  background-color: transparent;
  font-size: 15px;
  border-radius: 2px;
  padding: 10px 20px;
  color: #fff;
  margin: 10px 0px;
}

.search-success {
  width: fit-content;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-success a {
  text-decoration: none;
}
.search-success-result {
  margin-right: 20px;
}
.search-success-name {
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
}
.search-success-director {
  font-weight: lighter;
  color: gray;
  font-size: 15px;
}
.search-success-btn {
  font-family: "Bebas Neue", cursive;
  color: black;
  background-color: #fff;
  padding: 10px 25px;
  border-radius: 2px;
  transition: 500ms;
  margin: 0px 10px;
}
.search-success-btn:hover {
  color: #fff;
  background-color: black;
  transition: 500ms;
  cursor: pointer;
}

.search-failure-heading {
  font-size: 25px;
  font-weight: 600;
  margin: 20px 0px;
}
.search-failure-subheading {
  color: gray;
  line-height: 2;
}

@media screen and (max-width: 600px) {
  .search-container {
    display: block;
    padding: 0px 10px;
  }

  .total-card {
    padding: 5px;
  }
  .total-number {
    font-size: 70px;
  }
  .total-number-subheading {
    font-size: 25px;
  }

  .search-card {
    margin-left: 0px;
    margin-top: 20px;
    width: inherit;
  }
  .search-card-heading {
    font-size: 30px;
  }
  .search-card-subheading {
    font-size: 12px;
  }

  .search-card-input {
    font-size: 12px;
    width: -webkit-fill-available;
  }

  .search-success {
    display: block;
  }
  .search-success-btn {
    margin: 20px 0px;
    width: fit-content;
  }

  .search-failure-heading {
    margin-top: 50px;
  }
}
