.about-title {
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
}

.about-text p {
  line-height: 1.7;
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .about-title {
    font-size: 40px;
  }
  .about-text p {
    font-size: 15px;
    line-height: 1.5;
  }
}
