body {
  margin: 0%;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 40px 0px;
  min-height: calc(100vh - 50px - 20px - 50px - 20px - 20px - 80px - 1px);
}

.read-button {
  background-color: whitesmoke;
  color: black;
  border-radius: 2px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
  width: fit-content;
  cursor: pointer;
  transition: 400ms;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.read-button:hover {
  background-color: black;
  color: whitesmoke;
  transition: 400ms;
}

.collection-card {
  height: 275px;
  width: auto;
  border-radius: 10px;
  margin: 10px;
}

.collection-card:hover {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  height: 5px;
  position: fixed;
  bottom: 0%;
}

/* Track */
::-webkit-scrollbar-track {
  background: #747474;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #242424;
}

@media screen and (max-width: 600px) {
  .container {
    margin: 10px 0px;
    height: 85%;
    overflow: scroll;
  }
}
